/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}





/**
 * Set main page style
 */

.container {
  min-height:100%;
  max-width: -webkit-calc(#{$page-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$page-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color:#fff;
  margin-top:20px;
  margin-bottom:30px;
  box-shadow: 1px 1px 10px #BBB;
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4 {
  font-weight: 300;
}



/**
 * Links
 */


a{
  color: $brand-color;    
  text-decoration: none;  
  &:visited {             
    color: darken($brand-color, 25%);
  }                       

  &:hover {               
    color: $hover-color;
    text-decoration: none;
  }  

}

/**
 * Blockquotes
 */

blockquote{
  padding: 0 1em;
  margin: 14px 0;
  border-radius: 5px;
  color: $grey-color-dark;
  border: 2px dotted $grey-color-light;
  font-size: 18px;
  background: #f9f9f9;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,code {
  border-radius: 3px;
  background-color: $code-backgroud-color;
  color: $code-font-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow: auto; 

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}



/**
 * line between each post on main page
 */

hr{
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px dotted #ccc;
}

cite{ 
  font-style: italic;
  text-decoration: underline;
}


table {
  font-size: $small-font-size*0.875;
  color:$text-color;
  border-width: 1px;
  border-color: $text-color;
  border-collapse: collapse;
  table-layout: auto;
}
table th {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: $grey-color;
  background-color: $grey-color-light;
}
table td {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: $grey-color;
}
